body{
    background-color: whitesmoke;
    margin: 10px 0px;
    text-align: center;
}
.box{
    display: inline-block;
}
button{
    margin: 2px 1px;
    width: 4em;
    height: 2.5em;
    border: 1px solid green;
    background-color: rgb(107, 150, 44);
    color: white;
}
input{
    margin: 10px;
    line-height: 3em;
    width: 14em;
    border: 1px solid green;
    border-radius: 0.4em;
    background-color: rgb(107, 150, 44);
    color: white;
    text-align: right;
}
#calc{
    border: 2px solid rgb(58, 92, 19);
    border-radius: 0.4em;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: rgb(221, 213, 198);
}